
/*fixes navigation bar to top of the page*/
.navbar.navbar-default{
  width: 100%;
  border: 1px;
  border-color: #524F52;
  background-color: #524F52;
}

.toggle-handle{
   background-color: #999999;
}

.btn.btn-success.toggle-on{
  color: black;
  background-color: #BCCBBC;
}

#menu-toggle {
    text-decoration: none;
    outline: none;
    color: #999999;
}

#menu-toggle:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

/*edit default bootstrap colors*/
.btn.btn-info{
  color: #fff;
  background-color: #6292A9;
}

/*end of editing colors*/

#buttonStuff{
  position: fixed;
  bottom: 2%;
  width: 170px;
  left: 50%;
  transform: translateX(-46%);
}
/*resize search box for gi*/
#formValueId{
  width: 200px;
}

/*set glyphicon size*/
.glyphicon {
  font-size: 100%;
}

#couve-flor{
    height: 100%;
    width: 100%;
    visibility: hidden;
    position: absolute;
    margin: 0px;
    overflow: hidden;
}

.graph-overlay {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.graph-selection-indicator {
    position: absolute;
    background: transparent;
    border: 1px solid red;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
#loading-image {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  display: block;
  transform: translate(-50%, -50%);
}
#loading-image-alt{
  display: none;
  position: absolute;
  width:200px; 
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#boldDivider{
  height: 2px;
  background-color: #A9A9A9; /*darkgrey*/
}

/*modal for length body increase*/
#modal-body-length{
  height: 200px;
  overflow: auto;

}
/*input min value*/
#min-modal{
  text-align: center;

}

#slider_input_min{
  width: 50%;
  height: 20px;
}

/*input max value*/
#max-modal{
  text-align: center;
}

#slider_input_max{
  width: 50%;
  height: 20px;
}

/*slider related costumization*/
#slider{
  margin:8% 5% 8% 5%;
  width: 90%;
  height: 14px;
}

/* customizes taxa filters buttons*/

#modal-body-file{
  height: 180px;
  overflow: auto;
}

#modal-body-mash{
    height: 260px;
    overflow: auto;
}

#label_mash {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    padding-top: 2%;
    padding-bottom: 1%;
}
#check_file_mash {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    *overflow: hidden;
}

#label_file {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    padding-top: 2%;
    padding-bottom: 1%;
}
#check_file {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    *overflow: hidden;
}

#uploadFile, #uploadFileCheck{
  margin-left: 1%;
  margin-right: 1%;
}

/*resize search box for gi*/
#cutoffValue, #cutoffValueMash, #copyNumberValue{
    width: 200px;
}

#modal-body-scheme{
  height: 100px;
}

#color_scheme{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*main dropdown control setting*/

#main_dropdown_menu{
  background-color: #e7e7e7;
  border: 0px;
}

.panel-default > .panel-heading {
    background-color:#6292A9;
    color: white;
}

/*controls the size of labels in the color_scheme dropdown*/
.label{ 
  font-size: 14px;
}

/* taxa filter dropdowns editing */
/*#orderList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#order_dropdown{
  text-align: center;
}
/*#familyList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#family_dropdown{
  text-align: center;
}
/*#genusList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#genus_dropdown{
  text-align: center;
}
/*#speciesList.dropdown-menu{
  overflow: visible;
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#speciesList.dropdown-menu open{
  right:0;
}

#species_dropdown{
  text-align: center;
}

#displayCurrent{
  position: relative;
  /*width: 96%;
  height: 80%;
  margin: 2%;*/
}
#displayCurrentBox{
  overflow-y: scroll;
  overflow-x: hidden;
}
#modal-body-taxa-1{
  margin-bottom: 5%; 
}

#modal-body-taxa-2{
  overflow-y: auto; 
}

.header_taxa{
  font-size: 70%;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*end of taxa filter popup*/

/*noUi related customizatins*/
.noUi-connect{
  background-color: #337ab7;
}
.noUi-handle{
  border: 1px solid #878787;
  border-radius: 100%;
  background: #d0d0d0;
  box-shadow: none;
}
/*redefines the size of handlers*/
.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper{
  width: 23px;
  height: 23px;
}
/* Handle stripes - removing them;
  */
.noUi-handle:before,.noUi-handle:after {
  display: none;
}
/*moves the tooltips to bottom instead of top*/
.noUi-tooltip{
  padding: 4px;
  font-size: 14px;
}

/*this takes the jquery-ui interface to edit it*/
.ui-menu{
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 60%;
}        

/*alert boxes*/

.alert{
  position:absolute;
  z-index: 99 !important; 
  top:10%;
  left: 50%;
  transform: translateX(-50%);
}

/*color legend*/

#colorLegend{
  position: absolute;
  z-index: 99 !important;
  right:2%;
  bottom:2%;
}

.legend { 
  list-style-type: none; 
  text-align: left;
  padding: 0px;
  overflow: hidden;
}

.jscolor{
  width: 10px;
  height: 12px;
  margin: 2px;
  float: left;

}

.centeredList{
  padding: 2px;
  display: block;
}

/*styling of scale legend*/

.gradient {
  white-space: nowrap;
  text-align: center;
}
.grad-step {
  display: inline-block;
  height: 20px;
}

#min {
  margin: 1%;
  position: absolute;
  left: 10%;
  font-size: 11px;
}

#med {
  margin: 1%;
  position: absolute;
  right: 25%;
  left: 25%;
  text-align: center;
  font-size: 11px;
}

#max {
  margin: 1%;
  position: absolute;
  right: 10%;
  font-size: 11px;
}

#read_label{
  margin-top:20px; 
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

#sidebar-menus{
  margin-top: 5%;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 150px;
    width: 0;
    height: 95%;
    margin-left: -150px;
    overflow-y: auto;
    background: #524F52;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Colapsibles */

.list-group-item{
  height: 40px;
  border-color: grey;
  color: black !important;
  background-color: #C6E7E2 !important;
  padding-top: 0;
  padding-left: 30px;
}
.collapse_groups a{
  /*background-color: #657E84;*/
  border-style: solid;  
  color: white !important;
  border-color: grey; 
  border-width: 1px 0px 1px 0px;
  outline: none;
}

/* plot stuff */

#modal-body-plot{
    width: 800px;
    height: 500px;
    margin: auto;
}

#chartContainer1{
    width: 100%;
    height: 95%;
}

#chartContainer2{
    width: 100%;
}

#progressBar{
    /*display: inline-block;*/
    background-color: grey;
    width: 100%;
}

#progressDiv{
    font-size: 18px;
    position: relative;
    top: 40%;
}

#actualProgress{
    width: 0%;
    height: auto;
}

#headerTaxaGroup, #headerABRGroup, #headerOtherGroup {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
}

#popup_description {
    padding: 10px 30px 10px 30px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    right: 0%;
    top: 5%;
    position: fixed;
    z-index: 2;
}

#close{
    cursor: default;
    position: absolute;
    top: 2%;
    right: 2%;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    background: #ccc;
}

#modalTableBody > .tab-content > .tab-pane > .bootstrap-table > .fixed-table-toolbar > .columns > .btn{
    height: 34px;
}
