#welcomeDialog *{
    background-color: #514F52;
    color: white;
}

.mainText{
    margin-top: 30px;
    font-size: 18px;
}

/*fixes navigation bar to top of the page*/
.navbar.navbar-default{
    width: 100%;
    /*forces height on navbar in order to properly place popup_description*/
    height: 50px;
    border: 1px;
    border-color: #524F52;
    background-color: #524F52;
}

.toggle-handle{
    background-color: #999999;
}

.btn.btn-success.toggle-on{
    color: black;
    background-color: #BCCBBC;
}

#menu-toggle {
    text-decoration: none;
    outline: none;
    color: #999999;
}

#menu-toggle:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

/*edit default bootstrap colors*/
.btn.btn-info{
    color: #fff;
    background-color: #6292A9;
}

/*end of editing colors*/

#buttonStuff{
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-46%);
}

#slideLeft, #slideRight, #zoom_out, #zoom_in, #refreshButton, #playpauseButton,
#closeProject{
    height: 34px;
}

/*resize search box for gi*/
#formValueId{
    width: 200px;
}

/*set glyphicon size*/
.glyphicon {
    font-size: 100%;
}

#couve-flor{
    height: 100%;
    width: 100%;
    visibility: hidden;
    position: absolute;
    margin: 0px;
    overflow: hidden;
}

.graph-overlay {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.graph-selection-indicator {
    position: absolute;
    background: transparent;
    border: 1px solid red;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.9;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

/*#tableModal {*/
/*z-index: 98;*/
/*}*/

#loading-image {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.9;
    display: block;
    transform: translate(-50%, -50%);
}

#loading-image-alt{
    display: none;
    position: absolute;
    width:200px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#boldDivider{
    height: 2px;
    background-color: #A9A9A9; /*darkgrey*/
}

/*modal for length body increase*/
#modal-body-length{
    height: 200px;
    overflow: auto;
}

/*changes headers of all modals*/
.modal-header{
    color: white;
    border-color: #524F52;
    background-color: #524F52;
}

/*changes close button for all modals*/
.modal-header .close{
    color: white;
    opacity: 1;
}

/*input min value*/
#min-modal{
    text-align: center;
}

#slider_input_min{
    width: 50%;
    height: 20px;
}

/*input max value*/
#max-modal{
    text-align: center;
}

#slider_input_max{
    width: 50%;
    height: 20px;
}

/*slider related costumization*/
#slider{
    margin:8% 5% 8% 5%;
    width: 90%;
    height: 14px;
}

#label_mash {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    padding-top: 2%;
    padding-bottom: 1%;
}
#check_file_mash {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    *overflow: hidden;
}

.label_file {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    padding-top: 2%;
    padding-bottom: 1%;
}
.check_file {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    *overflow: hidden;
}

#mappingCutoffWrapper{
    margin-top: 2%;
}

.uploadFile{
    margin-left: 1%;
    margin-right: 1%;
}

/*resize search box for gi*/
#cutoffValue, #cutoffValueMash, #copyNumberValue, #cutoffValueSeq, #cutoffHashSeq{
    width: 200px;
}

#modal-body-scheme{
    height: 100px;
}

#color_scheme{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*main dropdown control setting*/

#main_dropdown_menu{
    background-color: #e7e7e7;
    border: 0px;
}

.panel-default > .panel-heading {
    background-color:#6292A9;
    color: white;
}

/*controls the size of labels in the color_scheme dropdown*/
.label{
    font-size: 14px;
}

/* taxa filter dropdowns editing */
/*#orderList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#order_dropdown, #famDropdown, #resDropdown, #cardDropdown, #virDropdown{
    text-align: center;
}

/*#familyList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#family_dropdown{
    text-align: center;
}
/*#genusList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#genus_dropdown{
    text-align: center;
}
/*#speciesList.dropdown-menu{
  overflow: visible;
  overflow-y: scroll;
  overflow-x: hidden;
}*/
#speciesList.dropdown-menu open{
    right:0;
}

#species_dropdown{
    text-align: center;
}

#displayCurrent, #displayCurrentABR, #displayCurrentFAM, #displayCurrentVir,
#displayCombined{
    position: relative;
    /*width: 96%;
    height: 80%;
    margin: 2%;*/
}
#displayCurrentBox, #displayCurrentBoxABR, #displayCurrentBoxFAM,
#displayCurrentBoxVir, #displayCombinedBox{
    overflow-y: scroll;
    overflow-x: hidden;
}

#displayCombinedBox{
    text-align: left;
}

#modal-body-taxa-1, #modalBodyFAM1, #modalBodyABR1, #modalBodyVir1,
#modal-body-intersections{
    margin-bottom: 5%;
}

#modal-body-taxa-2{
    overflow-y: auto;
}

.header_taxa{
    font-size: 80%;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*end of taxa filter popup*/

/*noUi related customizatins*/
.noUi-connect{
    background-color: #337ab7;
}
.noUi-handle{
    border: 1px solid #878787;
    border-radius: 100%;
    background: #d0d0d0;
    box-shadow: none;
}
/*redefines the size of handlers*/
.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper{
    width: 23px;
    height: 23px;
}
/* Handle stripes - removing them;
  */
.noUi-handle:before,.noUi-handle:after {
    display: none;
}
/*moves the tooltips to bottom instead of top*/
.noUi-tooltip{
    padding: 4px;
    font-size: 14px;
}

/*this takes the jquery-ui interface to edit it*/
.ui-menu{
    background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60%;
}

/*alert boxes*/

.alert{
    position:absolute;
    z-index: 99;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
}

/*color legend*/

#colorLegend{
    position: fixed;
    bottom: 1%;
    max-width: 25%;
    max-height: 30%;
    min-width: 15%;
    min-height: 2%;
    z-index: 99;
    right: 1%;
    border-radius: 10px;
    box-shadow: 1px 2px 20px #333;
    overflow: auto;
}

/*#colorLegend #colorLegend > .panel-default {*/
    /*max-height: 200px;*/
/*}*/

#colorLegend > .panel-default > .panel-body {

    max-height: none;
    /*overflow-y: scroll;*/
}

.legend {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    overflow: hidden;
}

.jscolor {
    width: 10px;
    height: 12px;
    margin: 2px;
    float: left;

}

.centeredList{
    padding: 2px;
    display: block;
}

/*styling of scale legend*/

.gradient {
    white-space: nowrap;
    text-align: center;
}
.grad-step {
    display: inline-block;
    min-width: 10px;
    height: 15px;
}

.min {
    display: inline-block;
    margin: 1%;
    position: relative;
    width: 30%;
    /*left: 1px;*/
    font-size: 11px;
}

.med {
    display: inline-block;
    margin: 1%;
    position: relative;
    /*right: 25%;*/
    /*left: 25%;*/
    text-align: center;
    width: 30%;
    text-align: center;
    font-size: 11px;
}

.max {
    display: inline-block;
    margin: 1%;
    position: relative;
    text-align: right;
    /*right: 10%;*/
    width: 30%;
    font-size: 11px;
}

#read_label{
    margin-top: 10px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

#sidebar-menus{
    margin-top: 5%;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 150px;
    width: 0;
    height: 95%;
    margin-left: -150px;
    overflow-y: auto;
    background: #524F52;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Colapsibles */

.list-group-item{
    height: 40px;
    border-color: grey;
    color: black !important;
    background-color: #C6E7E2 !important;
    padding-top: 0;
    padding-left: 30px;
}
.collapse_groups a{
    /*background-color: #657E84;*/
    border-style: solid;
    color: white !important;
    border-color: grey;
    border-width: 1px 0px 1px 0px;
    outline: none;
}

/* plot stuff */

#modal-body-plot{
    width: 100%;
    max-height: 600px;
    margin: auto;
}

#chartContainer2{
    width: 100%;
}

#progressBar{
    /*display: inline-block;*/
    background-color: grey;
    width: 100%;
}

#progressDiv{
    font-size: 18px;
    position: relative;
    width: 100%;
    text-align: center;
    top: 30%;
}

#actualProgress{
    display: inline-block;
}

.headerPanelGroup {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
}

#popup_description {
    max-width: 30%;
    max-height: 60%;
    padding: 10px 30px 10px 30px;
    /*border: 1px solid grey;*/
    border-radius: 10px;
    background-color: #ffffff;
    right: 0;
    top: 51px;
    position: absolute;
    z-index: 2;
    overflow: auto;
    box-shadow: 1px 2px 20px #333;
}

#close{
    cursor: default;
    position: absolute;
    top: 2%;
    right: 2%;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    /*background: #ccc;*/
}

#modalTableBody > .bootstrap-table > .fixed-table-toolbar > .columns > .btn{
    height: 34px;
}

#go_back, #Re_run, #download_ds, #tableShow, #heatmapButtonTab, #plotButton{
    height: 34px;
}

#fileNameDiv{
    position: fixed;
    margin-top: 0;
    padding: 0 5px 5px 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-46%);
    background: rgba(255, 255, 255, 0.8);
    display: none;
}

.popupHeaders{
    font-size: 16px;
    margin-top:10px;
    color: #4588ba;
    font-weight: bold;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* this is only for popover in question sign for plots
Careful when using this in other popovers in the future*/
.popover {
    max-width: 100%;
    border-top: 2px solid #514F52;
    border-left: 2px solid #514F52;
    border-right: 2px solid #514F52;
    border-bottom: 2px solid #514F52;
}

.popover.right > .arrow:after {
    left: 2px;
    bottom: -10px;
}
.popover.right > .arrow {
    left: -12px;
    margin-top: -12px;
    border-right-color: #514F52;
}

.popover > .arrow {
    border-width: 12px;
}

.popover-title  {
    background: #514F52;
    color: white;
}

#plotWait{
    margin: 0 auto;
}

#aboutModalBody{
    text-align: center;
    max-height: 600px;
    overflow-y: auto;
}

#uploadFileAssembly, #uploadFileMash, #uploadFileConsensus{
    margin-bottom: 5%;
}

#modal-body-mash, #modal-body-file, #modal-body-fileAssembly,
#modal-body-fileConsensus{
    max-height: 600px;
    overflow-y: auto;
}

.sampleImportClass{
    background-color: #BCCBBC;
    border-color: #4cae4c;
}

.sampleImportWrapperClass{
    text-align: center;
}

.popover{
    max-width:500px;
}

#youtubeFrame{
    display: block;
    margin: 2% auto;
}

/*Ratio modal related style*/
#modal-body-ratio{
    overflow: auto;
    max-height: 500px;
}

#toggleRatio{
    width: 100%;
}

#alertPlotEntries{
    display: none;
    width: 700px;
    position: absolute;
    top: 5px;
    text-align: center;
    /* Decreases the height of the alert without changing font size */
    margin-bottom: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0px 30px;
}

.panel-import{
    border-color: #6292A9;
}

.panel-import-header{
    background-color: #6292A9;
}

#importDiv, #percentagePop, #percentagePopMash, #copyNumberPop,
#percentagePopMashDist, #hashPop{
    display: none;
}

#sliderLegend{
    margin-bottom: 3px;
    text-align: center;
}

#assemblyLabel, #read_label, #distance_label, #vir_label, #pf_label, #res_label, #taxa_label {
    display: none;
    font-size: 16px;
}

#modal-body-intersections > div{
    /*text-align: center;*/
    padding-bottom: 10px;
}

#modal-body-intersections{
    text-align: center;
    height: 440px;
}

.dropdown-header{
    background-color: #524F52;
    color: white;
}

#buttonStuff > .btn-group{
    border-radius: 5px;
    box-shadow: 1px 2px 5px #333;
}