/*fixes navigation bar to top of the page*/
.navbar.navbar-default{
  position: fixed;
  top: 0;
  width: 100%;
}
#buttonStuff{
  position: fixed;
  bottom:2%;
  left:48%;
}
#couve-flor{
  height: 90%;
  width: 100%;
  visibility:hidden;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
#loading-image {
  position: absolute;
  top: 45%;
  left: 46%;
  z-index: 100;
}
/*slider related costumization*/
#slider {
  position: absolute;
  right: 12%;
  top: 60%;
  width: 300px;
  height: 12px;
}
.noUi-connect{
  background-color: #337ab7;
}
.noUi-handle{
  border: 1px solid #878787;
  border-radius: 100%;
  background: #d0d0d0;
  box-shadow: none;
}
/*redefines the size of handlers*/
.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper{
  width: 23px;
  height: 23px;
}
/* Handle stripes - removing them;
  */
.noUi-handle:before,.noUi-handle:after {
  display: none;
}
/*moves the tooltips to bottom instead of top*/
.noUi-tooltip{
  padding:1px;
  font-size:14;
}
#reset-sliders{
  position: absolute;
  right: 2%;
}
/*this takes the jquery-ui interface to edit it*/
.ui-menu{
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 60%;
}        
