/*fixes navigation bar to top of the page*/
.navbar.navbar-default{
  position: fixed;
  top: 0;
  width: 100%;
}

#buttonStuff{
  position: fixed;
  bottom: 2%;
  width: 170px;
  left: 50%;
  transform: translateX(-46%);
}
/*resize search box for gi*/
#formValueId{
  width: 130px;
}

/*set glyphicon size*/
.glyphicon {
  font-size: 15px;
}

#couve-flor{
  height: 90%;
  width: 100%;
  visibility:hidden;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
#loading-image {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  display: block;
  transform: translate(-50%, -50%);
}
#loading-image-alt{
  display: none;
  position: absolute;
  width:200px; 
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/*modal for length body increase*/
#modal-body-length{
  height: 15%;

}
/*input min value*/
#min-modal{
  position: absolute;
  left: 5%;
  top: 0%;
}

#slider_input_min{
  position: absolute;
  width: 120%;
  height: 10%;
}

/*input max value*/
#max-modal{
  position: absolute;
  right:5%;
  top:0%;
}

#slider_input_max{
  position: absolute;
  right:2%;
  width: 120%;
  height: 12px;
}

/*slider related costumization*/
#slider {
  position: absolute;
  left:10%;
  bottom:20%;
  width: 80%;
  height: 8%;
}
/* customizes taxa filters buttons */
#modal-body-taxa{
  height: 30%;
}

#modal-body-file{
  height: 10%;
}
#color_scheme{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*controls the size of labels in the color_scheme dropdown*/
.label{ 
  font-size: 14px;
}

/* taxa filter dropdowns editing */
#orderList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50%;
}
#order_dropdown{
  text-align: center;
  /*position: absolute;
  left:5%;*/
}
#familyList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50%;
}
#family_dropdown{
  text-align: center;
  /*position: absolute;
  left:30%;*/
}
#genusList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50%;
}
#genus_dropdown{
  text-align: center;
  /*position: absolute;
  right:30%;*/
}
#speciesList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50%;
}
#species_dropdown{
  text-align: center;
  /*position: absolute;
  right: 5%;*/
}

#displayCurrent{
  position: relative;
  width: 92%;
  height: 80%;
  left:4%;
  top: 5%;

}
#displayCurrentBox{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60%;
}

.header_taxa{
  font-size: 70%;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1%;
}

/*end of taxa filter popup*/

/*noUi related customizatins*/
.noUi-connect{
  background-color: #337ab7;
}
.noUi-handle{
  border: 1px solid #878787;
  border-radius: 100%;
  background: #d0d0d0;
  box-shadow: none;
}
/*redefines the size of handlers*/
.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper{
  width: 23px;
  height: 23px;
}
/* Handle stripes - removing them;
  */
.noUi-handle:before,.noUi-handle:after {
  display: none;
}
/*moves the tooltips to bottom instead of top*/
.noUi-tooltip{
  padding:4px;
  font-size:14;
}

/*this takes the jquery-ui interface to edit it*/
.ui-menu{
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 60%;
}        

/*alert boxes*/

.alert{
  position:absolute;
  z-index: 99 !important; 
  top:10%;
  left: 50%;
  transform: translateX(-50%);
}


/*color legend*/

#colorLegend{
  position: absolute;
  z-index: 99 !important;
  right:2%;
  bottom:2%;
}

.legend { 
  list-style-type: none; 
  text-align: left;
  padding: 0px;
  overflow: hidden;
}

/*.legend span { 
  border: 1px solid #ccc; 
  float: left; 
  width: 12px; 
  height: 12px; 
  margin: 2px; 
}*/

.jscolor{
  width: 10px;
  height: 12px;
  margin: 2px;
  float: left;

}

.centeredList{
  padding: 2px;
  display: block;
}
