/*fixes navigation bar to top of the page*/
.navbar.navbar-default{
  position: fixed;
  top: 0;
  width: 100%;
}

#buttonStuff{
  position: fixed;
  bottom: 2%;
  width: 170px;
  left: 50%;
  transform: translateX(-46%);
}

/*set glyphicon size*/
.glyphicon {
    font-size: 15px;
}

#couve-flor{
  height: 90%;
  width: 100%;
  visibility:hidden;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
#loading-image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-49%);
}
/*modal for length body increase*/
#modal-body-length{
  height: 130px;
}
/*input min value*/
#min-modal{
  position: absolute;
  left: 5%;
  top: 0%;
}

#slider_input_min{
  position: absolute;
  width: 100px;
  height: 20px;
}

/*input max value*/
#max-modal{
  position: absolute;
  right:5%;
  top:0%;
}

#slider_input_max{
  position: absolute;
  right:2%;
  width: 100px;
  height: 20px;
}

/*slider related costumization*/
#slider {
  position: absolute;
  left:10%;
  bottom:20%;
  width: 80%;
  height: 12px;
}
/* customizes taxa filters buttons */
#modal-body-taxa{
  height: 320px
}

/* taxa filter dropdowns editing */
#orderList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
#order_dropdown{
  position: absolute;
  left:5%;
}
#familyList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
#family_dropdown{
  position: absolute;
  left:30%;
}
#genusList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
#genus_dropdown{
  position: absolute;
  right:30%;
}
#speciesList.dropdown-menu{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
#species_dropdown{
  position: absolute;
  right: 5%;
}

#displayCurrent{
  position: relative;
  width: 100%;
  top: 17%;

}
#displayCurrentBox{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 150px;
}

/*end of taxa filter popup*/

/*noUi related customizatins*/
.noUi-connect{
  background-color: #337ab7;
}
.noUi-handle{
  border: 1px solid #878787;
  border-radius: 100%;
  background: #d0d0d0;
  box-shadow: none;
}
/*redefines the size of handlers*/
.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper{
  width: 23px;
  height: 23px;
}
/* Handle stripes - removing them;
  */
.noUi-handle:before,.noUi-handle:after {
  display: none;
}
/*moves the tooltips to bottom instead of top*/
.noUi-tooltip{
  padding:4px;
  font-size:14;
}

/*this takes the jquery-ui interface to edit it*/
.ui-menu{
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 60%;
}        

/*alert boxes*/

#alertId{
  position:absolute;
  z-index: 99 !important; 
  top:7%;
  left: 50%;
  transform: translateX(-50%);
}

