# Files to be ignored #
#######################
.idea/
all_plasmidEfae66296_t2.json
all_plasmidEfae66296_t2_vs_all_plasmidVRSA66296_55x.json
all_plasmidVRSA66296_55x.json
demo.json
import_to_vivagraph01_all.json
import_to_vivagraph_db.json
