<!-- Modal for taxa-->
<div id="combinedModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content for lenght-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Intersections between multiple filters</h4>
      </div>
      <div class="modal-body" id="modal-body-intersections">

        <div class="row" style="font-weight: bold;">Taxa</div>

        <div class="col-md-3">
          <div class="header_taxa">Orders</div>

          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="orderList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>
        <div class="col-md-3">
          <div class="header_taxa">Families</div>

          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="familyList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>
        <div class="col-md-3">
          <div class="header_taxa">Genera</div>

          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="genusList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>

        <div class="col-md-3">
          <div class="header_taxa">Species</div>

          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="speciesList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>

        <div class="col-md-5">
          <div style='border-top: 1px solid #aaa6aa; position: relative;
                top: 10px; margin-bottom: 10px; padding: 5px'></div>
        </div>
        <div class="col-md-2" style="color: #aaa6aa">
          <b>AND</b>
        </div>
        <div class="col-md-5">
          <div style='border-top: 1px solid #aaa6aa; position: relative;
                top: 10px; margin-bottom: 10px; padding: 10px'></div>
        </div>

        <div style="font-weight: bold;">Plasmid Families</div>
        <div class="col-md-12">
          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="pfList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>

        <div class="col-md-5">
          <div style='border-top: 1px solid #aaa6aa; position: relative;
                top: 10px; margin-bottom: 10px; padding: 5px'></div>
        </div>
        <div class="col-md-2" style="color: #aaa6aa">
          <b>AND</b>
        </div>
        <div class="col-md-5">
          <div style='border-top: 1px solid #aaa6aa; position: relative;
                top: 10px; margin-bottom: 10px; padding: 10px'></div>
        </div>

        <div style="font-weight: bold;">Resistances</div>
        <div class="col-md-6">
          <div class="header_taxa">ResFinder</div>
          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="resResfinderList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>
        <div class="col-md-6">
          <div class="header_taxa">Card</div>
          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="resCardList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>

        <div class="col-md-5">
          <div style='border-top: 1px solid #aaa6aa; position: relative;
                top: 10px; margin-bottom: 10px; padding: 5px'></div>
        </div>
        <div class="col-md-2" style="color: #aaa6aa">
          <b>AND</b>
        </div>
        <div class="col-md-5">
          <div style='border-top: 1px solid #aaa6aa; position: relative;
                top: 10px; margin-bottom: 10px; padding: 10px'></div>
        </div>

        <div class="col-md-12">

          <div style="font-weight: bold;">Virulence</div>

          <select class="selectpicker" data-dropup-auto="false"
                  data-width="100%" multiple
                  data-selected-text-format="count"
                  data-live-search="true"
                  title="No items selected" id="virList2"
                  data-size="15">
            <!--populated by visualization_function.js-->
          </select>
        </div>


      </div>

      <div class="modal-footer">

        <div style="position: absolute; left: 2%;">
          <button type="button" class="btn btn-default btn-circle"
                  data-toggle="popover" data-placement="right"
                  data-trigger="focus"
                  data-original-title="Multiple filters help"
                  data-content="<li><b>Intersection</b> button will display the
                  intersection of all the selected filters in the different
                  levels. E.g. The shared plasmids between Taxa and Resistance
                  selections.</li>
                  <li><b>Union</b> button will display the union of all the
                  selected filters in the different levels. E.g. The sum of the
                  plasmids in the selected Taxa and Resistance selections.</li>
                  <li>If you need further information go to the respective
                  <a href='https://tiagofilipe12.gitbooks.io/patlas/content/Browse.html#multiple'>
                  pATLAS documentation page</a>.
                  </li>"
                  data-html="true"
                  aria-describedby="tooltip" id="questionCombined">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>

          <button type="submit" class="btn btn-info"
                  data-dismiss="modal" id="intersectionsModalSubmit"
                  style="background-color: #4486c3">
            Submit intersection</button>
          <button type="submit" class="btn btn-success"
                  data-dismiss="modal" id="unionModalSubmit"
                  style="background-color: #5c9e63">
            Submit union</button>
        </div>

        <button type="submit" class="btn btn-danger"
                id="intersectionsModalClear">Clear selections</button>
      </div>

    </div>
  </div>
</div>
