<div>
  <div class="tab-content panels-faq">
    <div class="tab-pane active" id="tab1">
      <div class="panel-group" id="help-accordion-1">
        <div class="panel panel-default panel-help">
          <a href="#faq1" data-toggle="collapse"
             data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h4>Cannot find my plasmid of interest. What can I do?</h4>
            </div>
          </a>
          <div id="faq1" class="collapse in">
            <div class="panel-body">
              <p>pATLAS uses NCBI refseq database and therefore only
                plasmid sequences that are present in this database are
                represented in this network. Plasmids in other databases
                such as the 'nucleotide' or even European nucleotide archive
              may be absent from pATLAS.</p>
              <p>However, You can open an <a class="github-button"
                                     href="https://github.com/tiagofilipe12/pATLAS/issues"
                                    aria-label="Issue tiagofilipe12/pATLAS on GitHub">Issue</a>
              on github with the list of accession numbers of the plasmids you
                would like to see in pATLAS.
            </div>
          </div>
        </div>
        <div class="panel panel-default panel-help">
          <a href="#faq2" data-toggle="collapse"
             data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h4>Why are two plasmids with different sizes similar?</h4>
            </div>
          </a>
          <div id="faq2" class="collapse">
            <div class="panel-body">
              <p>This means that the shared part of their sequences
                have at least 90%
                average nucleotide identity (mash distance of 0.1 or less).
              <p>On the one hand, this gives an idea of the modularity of some
                components that compose plasmids, i.e., some small modules
                can be very easily integrated by larger plasmids. On the other
                hand, this may be odd when looking for similar plasmids and
                thus we implemented an option that allows to filter these
                differences in sequence size between pairs of plasmids. This
                option can be accessed through the
                left side menu, by selecting 'size ratio'.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="panel-group" id="help-accordion-2">
        <div class="panel panel-default panel-help">
          <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
            <div class="panel-heading">
              <h2>Lorem ipsum?</h2>
            </div>
          </a>
          <div id="help-three" class="collapse in">
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
              <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>