<div id="projectModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Provide a file name to save</h4>
      </div>
      <div class="modal-body" id="modal-body-project">

        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" id="projectName"
                   placeholder="Insert desired file name here! Default: 'my-patlas-project.json'">
          </div>
          <div class="col-md-2">
            <button class="btn btn-default" disabled>.json
            </button>
          </div>
        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default btn-circle"
                data-toggle="popover"
                data-trigger="focus"
                data-original-title="Export project"
                data-content="This menu allows the user to save a project
                      file that can be loaded later into pATLAS using the
                      import Project menu.<br>
                      Default file name: 'my-patlas-project.json'. If you want
                      to change it please fill the above input box."
                data-html="true"
                aria-describedby="tooltip" style="position: absolute;
                        left:2%;"
                id="exportProjectQuestion">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>

        <button type="submit" class="btn btn-info" data-dismiss="modal"
                id="projectSubmit">Save Project</button>
      </div>
    </div>

  </div>
</div>

<div id="importProjectModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Specify the project that you want to load</h4>
      </div>
      <div class="modal-body" id="modal-body-importProject">

        <div class="row uploadFile" id="uploadFileProject">
          <div class="input-group col-md-12">
            <label class="input-group-btn">
                    <span class="btn btn-info btn-file">
                      Select a file&hellip;<input id="projectFile" type="file"
                                                name="file" style="display: none;"
                                                multiple>
                    </span>
            </label>
            <input type="text" class="form-control" id="project_text" readonly autocomplete="off">
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div style="text-align: center">

            <div class="header_taxa">Select a view</div>

            <select class="selectpicker" data-dropup-auto="false"
                    data-width="50%"
                    data-selected-text-format="count"
                    title="No items selected" id="viewList">

              <optgroup label="Browse">
                <option class="taxa">Taxa</option>
                <option class="resistance">Resistance</option>
                <option class="plasmidfinder">PlasmidFinder</option>
                <option class="virulence">Virulence</option>
                <option class="intersection">Intersection</option>
                <option class="union">Union</option>
              </optgroup>
              <optgroup label="Import results">
                <option class="mapping">Mapping</option>
                <option class="mashscreen">Mash screen</option>
                <option class="assembly">Assembly</option>
                <option class="consensus">Consensus</option>
              </optgroup>

            </select>
          </div>
        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default btn-circle"
                data-toggle="popover"
                data-trigger="focus"
                data-original-title="Import project"
                data-content="This menu allows the user to select a project
                        saved in the user local computer to the visualization.
                        Users have to choose a 'view' which they want to
                        display.<br>
                        A <b>view</b> is an instance of one of the selections made
                        through pATLAS will generating the project. For example,
                        selecting the 'taxa view' is equivalent to select the
                        same taxa through the Browse --> taxa menu but with
                        a pre-made selection, saved in the project file that
                        the user will import.<br>
                        Users may change the desired view <i>a posteriori</i>."
                data-html="true"
                aria-describedby="tooltip" style="position: absolute;
                        left:2%;"
                id="importProjectQuestion">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>

        <button type="submit" class="btn btn-info"
                id="projectLoadSubmit">Load Project</button>
      </div>
    </div>

  </div>

  <div class="alert alert-danger alert-dismissable fade in" id="alertIdnoSelectedview"
       style="display: none">
    <button type="button" class="close" id="alertClosenoSelectedview" aria-hidden="true"
            data-hide="true">&times;</button>
    <strong>Warning!</strong> Please select one view to display from the dropdown menu.
  </div>

  <div class="alert alert-danger alert-dismissable fade in" id="alertIdEmptySelectedview"
       style="display: none">
    <button type="button" class="close" id="alertCloseEmptySelectedview" aria-hidden="true"
            data-hide="true">&times;</button>
    <strong>Warning!</strong> No results for the currently selected view!
  </div>

  <div class="alert alert-danger alert-dismissable fade in" id="alertIdNoProject"
       style="display: none">
    <button type="button" class="close" id="alertCloseNoProject" aria-hidden="true"
            data-hide="true">&times;</button>
    <strong>Warning!</strong> No files were added.
  </div>

</div>