<div class="row" id="modalBodyFAM1">
  <div class="dropdown col-sm-12 " id="famDropdown">
    <div class="header_taxa">PlasmidFinder</div>
    <select class="selectpicker" data-dropup-auto="false" multiple data-width="80%"
            data-selected-text-format="count" data-live-search="true"
            title="No items selected"
            id="plasmidFamiliesList"
            data-size="15" data-hide-disabled="true">
      <!--populated by visualization_function.js-->
    </select>
  </div>
</div>