<div class="row" id="modalBodyABR1">
  <div class="dropdown col-sm-6 " id="resDropdown">
    <div class="header_taxa">ResFinder</div>
    <select class="selectpicker" data-dropup-auto="false"
            multiple data-width="80%"
            data-selected-text-format="count" data-live-search="true"
            title="No items selected" id="resList"
            data-size="15" data-hide-disabled="true">
      <!--populated by visualization_function.js-->
    </select>
  </div>
  <div class="dropdown col-sm-6 " id="cardDropdown">
    <div class="header_taxa">Card</div>
    <select class="selectpicker" data-dropup-auto="false" multiple data-width="80%"
            data-selected-text-format="count" data-live-search="true"
            title="No items selected" id="cardList"
            data-size="15" data-hide-disabled="true">
      <!--populated by visualization_function.js-->
    </select>
  </div>
</div>